<!-- <div class="container">
</div> -->

<!-- <div [ngStyle]="{backgroundImage:'url(./cool-background.png)'}" ></div>-->
<div class="bg-img">


<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Acasa</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Cererile mele</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Cerere noua</a>
      </li>
    </div>
  </nav>

  <!-- <style>
    div {
      background-image:'cool-background.png';
    }
    </style> -->

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>