<div>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Cerere</h4>
    <form>
      <div class="form-group">
        <label for="studentName">Nume</label>
        <input
          type="text"
          class="form-control"
          id="studentName"
          [(ngModel)]="currentTutorial.studentName"
          name="studentName"
        />
      </div>
      <div class="form-group">
        <label for="description">Descriere</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Acceptat" : "Trimis" }}
      </div>
    </form>

    <!-- <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button> -->
    <!-- <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button> -->

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Sterge cerere
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Actualizare
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cererea nu exista</p>
  </div>
</div>
