<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="studentName">Titlu</label>
        <input
          type="text"
          class="form-control"
          id="studentName"
          required
          [(ngModel)]="tutorial.studentName"
          name="studentName"
        />
      </div>

      <div class="form-group">
        <label for="description">Descriere</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <button (click)="saveTutorial()" class="btn btn-success">Trimite</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
